.blog-card_image-wrapper {
  border-radius: 14px;
  height: 100%;
  border: 1px solid #d0d0d0;
  overflow: hidden;
  transition: transform 0.42s cubic-bezier(0.165, 0.84, 0.44, 1);
  img {
    overflow: hidden;
    object-fit: cover;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem rgb(0 0 0 / 20%);
    border: 0 !important;
    cursor: pointer;
  }
}
.blog-card_large-image img {
  height: 460px;
  @media screen and (max-width: 767px) {
    height: 220px;
  }
}
.blog-card_small-image img {
  height: 220px;
}
.img {
//   position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-card_tag {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: rgba(72, 72, 183, 0.2);
  color: #4848b7;
  font-size: 11px;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-size-h2 {
  font-size: calc(1.2rem + 0.9vw);
}
