
@import "./responsive";

.navbar>.container{
  @include desktop{
  height: 4rem !important;
  padding-top: 1rem !important;
  }
   @include smallDesktop{
  height: 4rem !important;
  padding-top: 0rem !important;
  }
   @include mobile{
        height: 4rem !important;
  padding-top: 0rem !important;
   }

        @include tablet{
           height: 4rem !important;
  padding-top: 0rem !important;
        }
  
}

.bg-white{
  box-shadow: 0px 3px 6px 6px rgb(0 0 0 / 6%);
}

.navbar-collapse{
  flex-grow: 0 !important;
}

.navbar-light .nav-link {
    color: rgba(0,0,0,.55) !important;
    background-color: white !important;
    text-align: center !important;
    padding-top: 0 !important;
    padding-left: 1.5rem !important;
}

.navbar-nav{
  margin-top: 0 !important;
}

 .logo {
      color: #1b1b1b;
      font-size: 35px;
      font-weight: 600;
      img {
        @include mobile{
       width:11.25rem;
        height: 30px;
        }
        @include tablet{
          width:15.25rem;
        height: 50px;
        }
        @include smallDesktop{
           width:15.75rem;
          height: 55px; 
        }
        @include desktop {
          width:15.75rem;
          height: 55px;
        }
      }
    }

    .navbar-toggler{
      @include smallDesktop{
        border-color:#ffffff !important;
        margin-bottom: 15px !important;
      }
        @include mobile{
      border-color:#ffffff !important;
        margin-bottom: 10px !important;
        }
        @include tablet{
         border-color:#ffffff !important;
        margin-bottom: 10px !important;
    }
  }

  .navbar-link > a > a {
        color: #1b1b1b !important;
        text-decoration: none !important;
        font-size: 18px !important;
        font-weight: 500 !important;
        padding: 8px 8px !important;
        border-radius: 5px !important;
        letter-spacing: 1px !important;
        transition: all 0.3s ease !important;
        &:hover {
          color: #13928a !important;
        }
        &.active {
          color: #13928a !important;
        }
      }

      #collasible-nav-dropdown  {
        color: #1b1b1b !important;
        text-decoration: none !important;
        font-size: 18px !important;
        font-weight: 500 !important;
        padding:0 0px 0 16px !important;
        border-radius: 5px !important;
        letter-spacing: 1px !important;
        transition: all 0.3s ease !important;
        &:hover {
          color: #13928a !important;
        }
        &.active {
          color: #13928a !important;
        }
      }

      .dropdown-style{
        color: #1b1b1b !important;
        text-decoration: none !important;
        font-size: 18px !important;
        font-weight: 500 !important;
        padding:0 0px 0 16px !important;
        border-radius: 5px !important;
        letter-spacing: 1px !important;
        transition: all 0.3s ease !important;
        &:hover {
          color: #13928a !important;
        }
        &.active {
          color: #13928a !important;
        }
      }

      .gatsby-image-wrapper img{
        padding-bottom:15px !important
      }




